@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>+33 1 4000 4001</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>+33 1 4000 4002</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support.appHarbor@affaireconclue.net">Support.appHarbor@affaireconclue.net</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing.appHarbor@affaireconclue.net">Marketing.appHarbor@affaireconclue.net</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General.appHarbor@affaireconclue.net">General.appHarbor@affaireconclue.net</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        Affaire Conclue<br />
        Paris, 75018
    </p>
</section>