@model fuzzy_llama.ViewModels.User

@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>
</section>
}

<h2>User accounts</h2>

<ul>
    @foreach (var user in Model.AllUsers)
    {
        <li>@user.Name (@user.EmailAddress)</li>
    }
</ul>

<hr />

<h2>Add a User account</h2>

@{Html.RenderPartial("../User/_CreateUser", Model.NewUser, new ViewDataDictionary());}

